DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fatecbot
JWT_SECRET=troque_por_um_segredo_forte_com_32_chars
JWT_EXPIRES_IN=8h
PORT=3333
NODE_ENV=development
ARGON2_MEMORY_COST=65536
ARGON2_TIME_COST=3
ARGON2_PARALLELISM=1